<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>OAuth tutorials</title>
  </head>
  <body>
    <nav>
      <ul>
        <% if(user) { %>
        <li><a href="/api/auth/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/api/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Homepage</a></li>
        <li><a href="/api/profile">Profile</a></li>
      </ul>
    </nav>
    <header>
      <h1>Wisdom OAuth</h1>
      <h2>Homepage</h2>
    </header>
    <main>
      <p>Practice how to implements OAuth</p>
    </main>
  </body>
</html>
