<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <nav>
      <ul>
        <% if(user) { %>
        <li><a href="/api/auth/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/api/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Homepage</a></li>
        <li><a href="/api/profile">Profile</a></li>
      </ul>
    </nav>
    <header>
      <h1>Loging using ..</h1>
    </header>
    <main>
      <p><a href="/api/auth/google">Google ++</a></p>
    </main>
  </body>
</html>
